@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles */
body {
    background-color: #ffffff; /* White background */
}

.sticky {
    position: sticky;
    top: 0;
    z-index: 1000; /* Ensure header stays above content */
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Ensure footer stays above content */
}

.minimalist-ui {
    @apply min-h-screen grid items-center justify-center bg-gray-100;
}

.form-container {
    @apply mx-auto min-w-[450px] bg-white p-6 rounded-md;
}

.input {
    @apply border px-4 py-2 mt-4 focus:ring-blue-500 focus:border-blue-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md;
  }
  
/* Style for checkboxes */
.checkbox {
    @apply mt-4 mr-2 rounded border-gray-300 h-4 w-4 text-blue-500;
}

.form-label {
    @apply block text-sm font-medium text-gray-700;
}

button {
    @apply inline-flex items-center justify-center px-4 py-2 bg-blue-600 border border-transparent rounded-md font-semibold text-xs text-white uppercase tracking-widest hover:bg-blue-700 active:bg-blue-800 focus:outline-none focus:border-blue-900 focus:ring ring-blue-300 disabled:opacity-25 transition ease-in-out duration-150;
}

.link {
    @apply text-blue-600 hover:text-blue-800;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #1e1e1e;
  }